<!doctype html>
<html lang="en" class="no-js"> 
  <title>
    Diaspora X²
  </title>
  <meta charset="utf-8">
  <%= project.stylesheetIncludes() %>
  <%= project.scriptIncludes() %>
</head>

<body>
  <div id='notification'></div> 

  <div id="log"></div>
  
  <div class='header'>
    <div class="container_12">
      <div class="grid_5">
        <h1><a href="/">DIASPORA*</a> <span class='sub_text'>X²</span></h1>
      </div>

      <div class="grid_3 prefix_3" id="auth-container">
      </div>
      
      <div class="clear"></div>
      
      <ul class="tabs" id="main-tabs">
      </ul>
        
    </div>
  </div>
  
  <div class='container_12' id="content">
  </div> 
</body>
</html>