<!doctype html>
<html lang="en" class="no-js"> 
	<title><%= project.name().capitalize() %></title>
  <meta charset="utf-8">
  <%= project.stylesheetIncludes() %>
  <%= project.scriptIncludes() %>
</head>

<body>
  <div id='notification'></div> 

  <div id="log"></div>
  
  <div class='header'>
    <div class="container_12">
      <div class="grid_5">
        <h1><a href="/">DIASPORA*</a> <span class='sub_text'>X²</span></h1>
      </div>

      <div class="grid_3 prefix_3">
        <div class="auth">
          <img src="http://media.buddycloud.com/channel/54x54/buddycloud.com/simon.png" class="micro avatar">
          <a class="name" href="#">captainamus@gmail.com</a>
        
          <a href="#" class="signout">Log out</a>
        </div>
      </div>
      
      <div class="clear"></div>
      
      <ul class="tabs">
        <li class="active"><a href="#">News feed</a></li>
        <li><a href="#">Profile</a></li>
        <li class="right"><a href="http://github.com/bnolan/diaspora-x">Github</a></li>
      </ul>
        
    </div>
  </div>
  
  <div class='container_12'>
    <!--div class="flash message"></div-->

      <div class="signin">
        
      </div>
      
      <div class="grid_7">
        <div id="main">
        </div>
      </div>
      

      <div class="grid_4 sidebar">


        <div class="intro">
          <h4>
            <img alt="Net_comp" class="icon" src="/icons/net_comp.png" /> You are using a distributed social network
          </h4>

          <p>
             This site is based on <a href="http://onesocialweb.org/spec/1.0/osw-activities.html">Activitystreams</a>
             and interoperates with other sites using the same protocol. 
              Your friend can 
             </p>

          <p>
            &nbsp; &nbsp; <b class="currentuser">#</b>
          </p>

        </div>


        <h4>
          <img alt="User" class="icon" src="/icons/user.png" /> Friends
        </h4>

        <form accept-charset="UTF-8" action="http://diaspora-x.com/relationships" class="friend_new" id="friend_new" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="qO7TB8YODF9jEuTm5KhLnERnJ2Syi9+LnkH5KkIH6N0=" /></div>
          <input id="friend_email" name="friend[email]" placeholder="Enter an email address here..." size="30" style="width: 220px; margin-right: 10px" type="text" value="" />
          <input name="commit" type="submit" value="Invite" />
      </form>  
        <ul class="friends" id="friends-list">

      </ul>

      </div>
    </div>
    
    <div class='clear'></div> 
  </div> 
</body>
</html>